In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('2019-11-(4-8).csv',parse_dates=['date'])

In [24]:
df.to_csv('tranDate.csv')

In [27]:
df['date']

0        2019-11-04 00:00:00
1        2019-11-04 00:00:00
2        2019-11-04 00:00:00
3        2019-11-04 00:00:00
4        2019-11-04 00:00:00
                 ...
593514   2019-11-08 23:59:00
593515   2019-11-08 23:59:00
593516   2019-11-08 23:59:00
593517   2019-11-08 23:59:00
593518   2019-11-08 23:59:00
Name: date, Length: 593519, dtype: datetime64[ns]

In [25]:
df['new_date'] = df["date"].dt.strftime("%Y-%m-%d %H:%M")

In [11]:
df['new_date']

0         2019-11-04 00:00
1         2019-11-04 00:00
2         2019-11-04 00:00
3         2019-11-04 00:00
4         2019-11-04 00:00
                ...
593514    2019-11-08 23:59
593515    2019-11-08 23:59
593516    2019-11-08 23:59
593517    2019-11-08 23:59
593518    2019-11-08 23:59
Name: new_date, Length: 593519, dtype: object

In [5]:
df1 = df[(df['date'] >= '2019-11-04 00:00:01') & (df['date'] <= '2019-11-04 23:59:59')]

In [7]:
day1 = df1.groupby(['agg_tag','date']).mean()

In [8]:
day1['density'][5]

date
2019-11-04 00:01:00    0.509464
2019-11-04 00:02:00    1.801414
2019-11-04 00:03:00    0.599963
2019-11-04 00:04:00    0.627936
2019-11-04 00:05:00    0.678101
                         ...
2019-11-04 23:52:00    1.225134
2019-11-04 23:54:00    1.697204
2019-11-04 23:56:00    1.299776
2019-11-04 23:58:00    1.171866
2019-11-04 23:59:00    0.916309
Name: density, Length: 1252, dtype: float64

In [9]:
day1.head()

                             avg_speed  count_class1  count_class2  \
agg_tag date
1       2019-11-04 00:01:00  88.824211           0.0      1.333333
        2019-11-04 00:02:00  91.096825           0.0      3.000000
        2019-11-04 00:03:00  88.314242           0.0      1.666667
        2019-11-04 00:04:00  97.073017           0.0      2.500000
        2019-11-04 00:05:00  93.213036           0.0      4.000000

                             count_class3  count_class4   density   flow  \
agg_tag date
1       2019-11-04 00:01:00           0.0           0.0  0.904358   80.0
        2019-11-04 00:02:00           0.0           0.0  1.975920  180.0
        2019-11-04 00:03:00           0.0           0.0  1.186456  100.0
        2019-11-04 00:04:00           0.0           0.0  1.540058  150.0
        2019-11-04 00:05:00           0.0           0.0  2.574747  240.0

                             lane  occupency  space_headway  time_headway
agg_tag date
1       2019-11-04 00:01:00   3.0   0.542586     204.831742      8.333333
        2019-11-04 00:02:00   3.0   1.208100      84.348912      3.333333
        2019-11-04 00:03:00   3.0   0.713030     169.756416      6.666667
        2019-11-04 00:04:00   3.5   0.933138     167.960299      6.250000
        2019-11-04 00:05:00   3.0   1.585160      64.731275      2.500000

In [15]:
times = pd.date_range("2019-11-04 00:00:00", "2019-11-04 23:59:00", freq="1min")

In [16]:
df1_None = pd.DataFrame(columns=['sensor{}'.format(i) for i in range(2,34,2)], index=times)

In [17]:
df1_None

,sensor2,sensor4,sensor6,sensor8,sensor10,sensor12,sensor14,sensor16,sensor18,sensor20,sensor22,sensor24,sensor26,sensor28,sensor30,sensor32
2019-11-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-04 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-04 00:02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-04 00:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-04 00:04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-04 23:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-04 23:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-04 23:57:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-04 23:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-04 23:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
for i in range(2,34,2):
    df1_None[f'sensor{i}'] = day1['density'][i]

In [20]:
day1['density'][1]

date
2019-11-04 00:01:00    0.904358
2019-11-04 00:02:00    1.975920
2019-11-04 00:03:00    1.186456
2019-11-04 00:04:00    1.540058
2019-11-04 00:05:00    2.574747
                         ...
2019-11-04 23:55:00    0.776726
2019-11-04 23:56:00    0.850893
2019-11-04 23:57:00    1.190880
2019-11-04 23:58:00    1.503067
2019-11-04 23:59:00    2.108265
Name: density, Length: 1391, dtype: float64

In [21]:
df1_None

,sensor2,sensor4,sensor6,sensor8,sensor10,sensor12,sensor14,sensor16,sensor18,sensor20,sensor22,sensor24,sensor26,sensor28,sensor30,sensor32
2019-11-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-11-04 00:01:00,3.301308,0.972093,1.006200,1.834775,NaN,4.516839,3.220509,5.227625,1.901441,3.270561,2.210390,2.118600,2.735291,4.779641,NaN,NaN
2019-11-04 00:02:00,2.229711,2.450881,4.287057,2.243368,NaN,2.457286,1.243958,3.212230,2.445434,4.158003,2.797382,2.554435,3.960030,1.746908,NaN,NaN
2019-11-04 00:03:00,1.068301,0.551776,1.385351,2.167649,NaN,1.255313,2.884856,4.211812,2.277928,2.626799,3.135660,2.695150,3.292039,1.751255,NaN,NaN
2019-11-04 00:04:00,2.861798,2.320980,2.035502,1.343964,NaN,3.123819,2.523091,4.194312,3.164722,3.294487,3.285387,1.921330,1.416945,3.294666,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-11-04 23:55:00,2.803517,2.550848,2.131479,1.135446,2.304059,1.779654,1.056000,1.506761,0.536375,1.548352,1.442141,2.149992,1.285824,3.182543,0.803910,1.703067
2019-11-04 23:56:00,1.632372,0.904841,1.916866,0.963723,1.449380,1.252459,1.601294,1.441315,0.769557,1.358890,3.258472,1.038840,1.299753,1.540161,1.903128,1.892511
2019-11-04 23:57:00,0.779577,0.875946,2.184811,1.918736,1.703568,2.601245,1.803688,0.981300,1.339934,0.816041,1.201666,2.234585,2.271578,1.264056,0.849876,1.336414
2019-11-04 23:58:00,1.102911,2.731440,0.789218,1.100184,2.269193,1.887397,0.638736,2.193940,1.804802,3.050021,2.227355,1.527411,0.998149,2.621759,0.945676,0.781768
2019-11-04 23:59:00,1.432494,0.505450,1.705300,2.045635,2.434638,1.210441,1.333367,1.466446,1.477550,1.788950,1.291332,1.641010,1.856815,0.963968,0.627338,1.528296